---
import '@/styles/global.css';
import '@fontsource-variable/public-sans';

import BottomNav from '@/components/app/navigation/BottomNav';
import Navbar from '@/components/app/navigation/Navbar';

import { cn } from '@/lib/utils';
import RouteGuard from '@/components/app/auth/RouteGuard';

interface Props {
    title: string;
    description?: string;
    header?: string;
    withBottomNav?: boolean;
    containerClass?: string;
    withBack?: boolean;
    backHref?: string;
}

const {
    title,
    description = 'Cinema Booking App',
    header = '',
    withBottomNav = true,
    containerClass,
    withBack = false,
    backHref = '/',
} = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
        />
        <meta name="description" content={description} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{title}</title>
    </head>
    <body class="bg-gray-100 text-foreground">
        <RouteGuard client:load />
        <div class="max-w-sm mx-auto min-h-screen bg-white flex flex-col">
            {
                header && (
                    <Navbar
                        client:load
                        title={header}
                        withBack={withBack}
                        backHref={backHref}
                    />
                )
            }

            <main
                class={cn(
                    `px-4 pt-6 ${withBottomNav ? 'pb-[calc(5rem+env(safe-area-inset-bottom))]' : 'pb-6'} flex-1 flex flex-col`,
                    containerClass
                )}
            >
                <slot />
            </main>

            {withBottomNav && <BottomNav client:load />}
        </div>
    </body>
</html>
